---
interface Props {
  mockup: {
    src: string,
    alt: string,
  }
}
---

<main class="project__main">
  <slot name="image" />
  <div class="evenColumns">
    <slot name="content" />
  </div>
</main>

<style lang="scss" is:global>
  .project__main {
    img {
      object-fit: cover;
    }

    > img:first-child {
      width: 100%;
      max-width: 680px;
      height: 100%;
      aspect-ratio: 4 / 3;
      flex: 0 0 min(680px, 100%);
    }

    @include mediaq($bp-tablet) {
      display: flex;
      gap: rem(32);
    }

    .evenColumns {
      flex: 1;

      @include mediaq($bp-tablet) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
        column-gap: rem(16);
      }
  
      > * {
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>