<div class="projectGallery">
  <slot />
</div>

<style lang="scss" is:global>
  .projectGallery {
    margin-top: 1.5rem;
    display: grid;
    gap: rem(16);

    p {
      height: fit-content;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mediaq($bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: min-content;

      > :nth-child(2n-1):last-child {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
  }
</style>