---
interface Props {
  classes?: string
  relative?: boolean
  noPadded?: boolean
}

const { classes, relative, noPadded } = Astro.props;
---

<div class:list={[ classes, { relative, noPadded } ]}>
  <slot />
</div>

<style>
  div {
    width: 80%;
    max-width: 1140px;
    margin-inline: auto;
  }

  .relative {
    position: relative;
  }

  .noPadded {
    width: 100%;
  }
</style>