---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import Typography from './Typography.astro'
import Icon from './icon/Icon.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'

interface Props {
  project: CollectionEntry<'projects'> & { projectHref: string }
}

const pageLang = getLangFromUrl(Astro.url);
const t = useTranslations(pageLang);

const {
  project
} = Astro.props

const {
  data: {
    projectName,
    logo,
  },
  projectHref,
} = project
---

<div class="projectThumbnail">
  <Image
    src={logo}
    alt={`${projectName} logo`}
    width={50}
    class="projectThumbnail__logo"
  />
  <div class="projectThumbnail__content">
    <Typography as='h3' class="projectThumbnail__name">
      {projectName}
    </Typography>
    <a
      href={projectHref}
      class="projectThumbnail__link"
    >
      <figure>
        <Icon variant='RightArrow' />
      </figure>
      <span class="visually-hidden">{t("projects.seeProjectLabel")}</span>
    </a>
  </div>
</div>

<style lang="scss">
  .projectThumbnail {
    display: flex;

    &__content {
      display: none;

      @include mediaq($bp_tablet) {
        @include flexCenter();
        width: 100%;
        gap: rem(24);
      }
    }

    &__name {
      display: none;

      @include mediaq($bp_tablet) {
        display: block;
      }
    }

    &__link {
      display: none;

      @include mediaq($bp_tablet) {
        display: block;
      }
    }
  }
</style>