---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

import Button from './Button.astro';
import Icon from './icon/Icon.astro';
import Typography from './Typography.astro';

interface Props {
  projectName: string
  excerpt: string
  projectHref: string
  classes?: string
}

const pageLang = getLangFromUrl(Astro.url);
const t = useTranslations(pageLang);

const {
  projectName,
  excerpt,
  projectHref,
  classes,
} = Astro.props;
---

<div class:list={['project-context', classes]}>
  <div>
    <Typography as="h3" class="project-context__heading">
      {projectName}
    </Typography>
    <Typography as="p" class="project-context__excerpt">
      {excerpt}
    </Typography>
  </div>
  <Button as='a'
    href={projectHref}
    positionAware
    class="project-context__link"
    variant='dark'
    font='quicksand'
  >
    <figure>
      <Icon variant='RightArrow' />
    </figure>
    <span>{t('projects.seeProjectLabel')}</span>
  </Button>
</div>

<style lang="scss">
  .project-context {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $primary-green;
    background-color: $primary-light-beige;
    height: 100%;
    width: 100%;
    padding: rem(16);
    border-radius: 8px;

    @include mediaq($bp-tablet) {
      border-radius: 8px;
    }

    &__heading {
      margin: rem(8) 0 rem(4);

      @include mediaq($bp-tablet) {
        margin: 0 0 rem(8);
        line-height: 1;
      }
    }

    &__excerpt {
      margin-bottom: rem(24);
    }

    &__link {
      width: fit-content;
      align-self: flex-end;
    }
  }
</style>
