---
import Container from '@components/Container.astro';
import LanguagePicker from '@components/LanguagePicker.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <slot name="additional-meta-head-info" />
	</head>
	<body>
    <header>
      <Container>
        <div class="languagepicker">
          <LanguagePicker />
        </div>
      </Container>
    </header>
    <slot />
	</body>
</html>
<style lang="scss" is:global>
  body {
    background: url(/images/background-noise.png), $primary-green;
    color: $primary-light-beige;
    overflow-x: hidden;
  }

  .container {
    width: 80%;
    margin-inline: auto;
  }

  .languagepicker {
    display: flex;
    justify-content: flex-end;
  }
</style>
