---
import Container from '@components/Container.astro';
import LanguagePicker from '@components/LanguagePicker.astro';
import { SEO } from 'astro-seo';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import Footer from '@sections/Footer.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
    <SEO
      title={t('SEO.title')}
      description={t('SEO.description')}
      twitter={{
        creator: '@Kev_Hec'
      }}
    />
		<meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <meta name="theme-color" content="#214537">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <slot name="additional-meta-head-info" />
	</head>
	<body>
    <header>
      <Container noPadded>
        <div class="languagepicker">
          <LanguagePicker />
        </div>
      </Container>
    </header>
    <slot />
    <Footer />
	</body>
</html>
<style lang="scss" is:global>
  body {
    background: url(/images/background-noise.png), $primary-green;
    color: $primary-light-beige;
    overflow-x: hidden;
    font-family: $quicksand;
  }

  .container {
    width: 80%;
    margin-inline: auto;
  }

  .languagepicker {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
</style>