---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
import Container from '@components/Container.astro';
import Typography from '@components/Typography.astro';
import GoBackArrow from '@components/icons/GoBackArrow.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Image } from 'astro:assets';
import ProjectHeader from '@components/projectPage/ProjectHeader.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages = await getCollection('projects');

  const paths = pages.map((page) => {
    const [lang, ...slug] = page.slug.split('/');
    return {
      params: {
        lang,
        slug: slug.join('/') || undefined,
      },
      props: page,
    };
  });

  return paths;
}

const project = Astro.props;

const { Content } = await project.render();
---
<Layout title={project.data.title}>
  <Container>
    <main class="project__innerContainer">
      <ProjectHeader
        project={project}
        lang={lang}
        goBackLabel={t("project.goBack")}
      />
      <Content />
    </main>
  </Container>
</Layout>