---
import Container from '@components/Container.astro';
import ProjectHeader from '@components/projectPage/ProjectHeader.astro';
import Slider from '@components/Slider.astro';
import Layout from '@layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  const paths = projects.map((project) => {
    const [lang, slug] = project.id.split('/');

    return {
      params: {
        lang,
        slug,
      },
      props: { project },
    };
  });

  return paths;
}

const { project } = Astro.props;

const { Content } = await render(project);
---
<Layout title={project.data.title}>
  <Container>
    <main class="project__innerContainer">
      <ProjectHeader
        project={project}
      />
      <Content />
      <Slider
        images={project.data.galleryImages}
      />
    </main>
  </Container>
</Layout>

<style lang="scss">

</style>
