---
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const pages = await getCollection('projects');

  const paths = pages.map((page) => {
    const [lang, ...slug] = page.slug.split('/');
    return {
      params: {
        lang,
        slug: slug.join('/') || undefined,
      },
      props: page,
    };
  });

  return paths;
}

const page = Astro.props;

const { Content } = await page.render();
---
<Layout title={page.data.title}>
  <Container>
    <h1>{page.data.title}</h1>
    <Image
    src={page.data.mockup.src}
    alt={page.data.mockup.alt}
    width={200}
    height={200}
    />
    <Content />
  </Container>
</Layout>
