---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import ProjectHeader from '@components/projectPage/ProjectHeader.astro';
import Slider from '@components/Slider.astro';
import { Image } from 'astro:assets';
import Typography from '@components/Typography.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages = await getCollection('projects');

  const paths = pages.map((page) => {
    const [lang, ...slug] = page.slug.split('/');
    return {
      params: {
        lang,
        slug: slug.join('/') || undefined,
      },
      props: page,
    };
  });

  return paths;
}

const project = Astro.props;

const { Content } = await project.render();
---
<Layout title={project.data.title}>
  <Container>
    <main class="project__innerContainer">
      <ProjectHeader
        project={project}
      />
      <Content />
      <Typography as='h2' class="gallery__heading">
        {t('project.galleryHeading')}
      </Typography>
      <Slider>
        {project.data.galleryImages.map(image => (
          <swiper-slide>
            <Image class="gallery__image" src={image.src} alt={image.alt} />
          </swiper-slide>
        ))}
      </Slider>
    </main>
  </Container>
</Layout>

<style lang="scss">
  .gallery {
    &__heading {
      margin-bottom: 1rem;
    }

    &__image {
      margin-inline: auto;
      object-fit: contain;
      height: fit-content;
    }
  }
</style>