.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.noBullet {
  list-style-type: none;
}

.noMargin {
  margin: 0;
}

.restarted-list {
  list-style-type: none;
  padding-left: 0;
}

.relative {
  position: relative;
}