// Colors
$primary-green: #183228;
$primary-light-beige: #F5F5DC;

$neutral-white: #E1E6E0;
$neutral-gray: #49474C;

$accents-gray: #A8A8A8;

// Fonts
$lora: 'Lora', serif;
$quicksand: 'Quicksand', sans-serif;

// Breakpoints
$bp-phone: 375px;
$bp-tablet: 768px;
$bp-small-pc: 1024px;
$bp-big-pc: 1440px;